body {
  background-image: url("https://i.imgur.com/gddAmAV.jpg");
  font-family:  'Great Vibes', cursive;
}
.panel-default{
float: left;
}

li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  
  